@import "./themes/dark"
@import "./themes/light"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Orelega+One&display=swap')

$float-shadow: 0 3px 3px black

*
  box-sizing: border-box

body
  font-family: Montserrat, sans-serif
  font-size: 4vw
  
button
  background: none
  border: none
  font-size: 1.5rem
  
  &.main
    background: #ffd400
    color: white
    text-shadow: 0 0 8px black
    font-weight: bold

    &:hover
      text-shadow: 0 0 15px black

    &:disabled
      background: #3e3718
      color: #999
      text-shadow: none


  &.button-round
    border-radius: 40% !important

input
  font-size: 1.5rem
  padding: 5px
  text-align: center
  border-radius: 5px

#Board
  .board-row
    .board-square
      font-family: 'Krona One'

#gameMenu
  margin: 20px
  background: darkslateblue
  color: white
  box-shadow: $float-shadow
  overflow: auto
  max-height: 95vh

  #PlayButton
    width: 100%
    height: 6rem
    font-size: 2.5rem
    line-height: 2.5rem

    &:hover 
      font-size: 3rem

    &:disabled
      font-size: 2.5rem

  h1
    padding: 10px
    background: floralwhite
    color: midnightblue
    box-shadow: $float-shadow
    margin-top: 15px
    text-align: center

#LoginForm
  display: flex
  align-items: stretch

  button
    height: 100%
  
  input
    width: 100%

.avatar
  width: 100px
  height: 100px

.flex-justify
  display: flex
  justify-content: center
  align-items: center

.error
  background: crimson
  margin: 5px
  padding: 10px
  color: white
  text-align: center

.errors-reporter
  margin: 20px    
  padding: 40px 
  background: darkred
  color: white
  font-size: 15px

  h1
    margin-top: 0
    font-size: 1.6rem

  pre
    overflow: auto

.icon 
  cursor: pointer

.menu
  .modal-body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    h1, h2, h3, h4, h5
      margin: 0.3rem 0

    button
      margin: 0.2rem
      width: 60%

    .options 
      margin: 0.4rem

  button
    padding: 10px
    margin: 10px
    background: black
    font-weight: bold
    color: darkgoldenrod

    &:hover, &:active, &:focus
      background: #111
      color: #eccb79

.modal-background
  background: rgba(0,0,0,0.3)
  z-index: 100

  .modal

    .modal-header
      border:
        top-left-radius: 5px
        top-right-radius: 5px
      padding: 3px
      text-align: center
      
      text-shadow: 1px 1px 2px rgb(250 250 250)
      border: 1px solid #555
      background: #999

      &+.modal-body
        border:
          bottom-left-radius: 5px
          bottom-right-radius: 5px
          top: none

    .modal-body
      background: #ccc
      padding: 3px
      border: 1px solid #555

.playingInterface
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column-reverse
  align-items: center
  justify-content: center

  .current-players
    width: 100vw
    display: flex
    justify-content: space-between

    .user-info-card      
      img
        margin: 10px

      &:last-of-type
        flex-direction: row-reverse

      &.playing
        color: #e4ff00
        text-shadow: 0 0 15px #dccc56

        img
          box-shadow: 0 0 35px #dccc56
          border-radius: 50%

  .options-bar
    width: 100%
    text-align: right
    
    button
      padding: 5px
      background: white
      margin: 5px

  #Board
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.profiler
  .profiler-body
    padding: 5px
    background: linear-gradient(20deg, rgba(0,0,0,0.8), transparent 70%, rgba(255,255,255, 0.1))
    border: 1px solid rgba(255,255,255,0.2)

    button
      color: white
      background: rgba(255,255,255,0.1)
      padding: 15px
      margin: 10px 5px 5px 5px
      &:hover, &:focus
        background: rgba(255,255,255,0.3)
      &:disabled
        background: rgba(0,0,0,0.1)
        color: #555

    .computer-profiler
      text-align: center

      .selector div
        display: flex
        flex-direction: column
        align-items: center

      img
        width: 20vw

      h3, p
        margin: 0

    .human-profiler
      .stage-0, .stage-3
        padding: 20px
      border-radius: 5px
      text-align: center

      .selector
        border: none
        background: transparent


      h3
        margin: 0 0 10px 0

      .stage-body 
        & + button
          margin-top: 10px

        .warning
          background: rgba(255,0,0,0.6)
          color: white
          margin: 3px
            top: 10px 
          padding: 10px 20px
          font-size: 0.8rem
          display: inline-block

        .profile-avatar
          width: 25vw

.results
  text-align: center

  .modal-body
    padding: 1rem!important

  h1
    margin: 0 0 1rem 0
    color: #ffdf00
  
  h5
    margin: 0 0 1rem 0
    color: #adf7ad

  .options
    button
      width: auto

  .streak
    display: flex
    justify-content: space-around
    width: 80vw
    padding: 0 5vw

    .player-streak
      display: flex
      flex-direction: column
      font-size: 2rem
      align-items: center
      font-weight: bold

      img
        width: 30vw

      .player-streak-number
        color: #ffdf00

.select-button
  max-width: 12vw
  margin: 3px

  select 
    /** font-size: 1.5em **/
    margin: 5px 0 0 0

.selector 
  display: flex
  justify-content: space-between
  align-items: center
  margin: 5px 0
  background: rgba(0,0,0,0.03)
  padding: 5px 0
  background: linear-gradient(90deg, rgba(0,0,0,0.2), transparent 70%, rgba(255,255,255, 0.03))
  border: 1px solid rgba(255,255,255,0.1)
  border-radius: 5px

  button.selector-button
    padding: 4px
    border-radius: 12px
    margin: 0 10px

.user-info-card
  display: flex
  align-items: center
  justify-content: center

  img
    width: 20vw
    margin-right: 5vw

  h3.user-info-card-name, h5.user-info-card-kind
    text-align: left 
    margin: 0 !important
    
.chat
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column

  overflow: auto

  .modal-body
    display: flex
    align-items: center
    justify-content: center
    height: auto
    min-height: 0 !important

    form 
      display: flex
      flex-direction: column

      button
        margin: 10px

  button
    background: #00c100
    border-radius: 4px
    color: white
    text-shadow: 0 0 3px black
    padding: 10px

    @include hover
      text-shadow: 0 0 3px white
      background: lime

  .chat-body
    position: fixed
    left: 0
    top: 0
    bottom: 60px
    right: 250px
    overflow: auto

  .chat-users
    position: fixed
    top: 0
    bottom: 60px
    right: 0px
    width: 250px

    button
      display: block
      width: 100%
      border-radius: 0
      

  .commands 
    *
      height: 55px  
      margin: 0px 2px

    padding: 3px
    position: fixed
    bottom: 0
    width: 100vw
    display: flex

    input
      flex-grow: 1

    
    
