@import "./themes/dark"
@import "./themes/light"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Orelega+One&display=swap')

$float-shadow: 0 3px 3px black

*
  box-sizing: border-box

body
  font-family: Montserrat, sans-serif
  font-size: 4vw
  
button
  background: none
  border: none
  font-size: 4vw
  
  &.main
    background: #ffd400
    color: white
    text-shadow: 0 0 8px black
    font-weight: bold

    &:hover
      text-shadow: 0 0 15px black

    &:disabled
      background: #3e3718
      color: #999
      text-shadow: none


  &.button-round
    border-radius: 40% !important

input
  font-size: 1.5rem
  padding: 5px
  text-align: center
  border-radius: 5px

aside
  .hider
    text-align: center

#Board
  .board-row
    .board-square
      font-family: 'Krona One'

  
#gameMenu
  margin: 20px
  background: darkslateblue
  color: white
  box-shadow: $float-shadow
  overflow: auto
  max-height: 95vh

  #PlayButton
    width: 100%
    height: 3em
    font-size: 1.8em

    &:hover 
      font-size: 2em

    &:disabled
      font-size: 1.8em

  h1
    padding: 10px
    background: floralwhite
    color: midnightblue
    box-shadow: $float-shadow
    margin-top: 15px
    text-align: center

#LoginForm
  display: flex
  align-items: stretch

  button
    height: 100%
  
  input
    width: 100%

.avatar
  width: 100px
  height: 100px

.flex-justify
  display: flex
  justify-content: center
  align-items: center

.error
  background: crimson
  margin: 5px
  padding: 10px
  color: white
  text-align: center

.errors-reporter
  margin: 20px    
  padding: 40px 
  background: darkred
  color: white
  font-size: 15px

  h1
    margin-top: 0
    font-size: 1.6rem

  pre
    overflow: auto

.icon 
  cursor: pointer

.modal-background
  background: rgba(0,0,0,0.3)

  .modal

    .modal-header
      border:
        top-left-radius: 5px
        top-right-radius: 5px
      padding: 3px
      text-align: center
      
      text-shadow: 1px 1px 2px rgb(250 250 250)
      border: 1px solid #555
      background: #999

      &+.modal-body
        border:
          bottom-left-radius: 5px
          bottom-right-radius: 5px
          top: none

    .modal-body
      background: #ccc
      padding: 3px
      border: 1px solid #555

.profiler
  .profiler-body
    padding: 5px

    .human-profiler
      background: linear-gradient(20deg, rgba(0,0,0,0.8), transparent 70%, rgba(255,255,255, 0.1))
      border: 1px solid rgba(255,255,255,0.2)
      border-radius: 5px
      padding: 20px
      text-align: center

      .selector
        border: none
        background: transparent

      button
        color: white
        background: rgba(255,255,255,0.1)
        padding: 15px
        margin: 0 5px
        &:hover, &:focus
          background: rgba(255,255,255,0.3)
        &:disabled
          background: rgba(0,0,0,0.1)
          color: #555

      h3
        margin: 0 0 10px 0

      .stage-body 
        & + button
          margin-top: 10px

        .warning
          background: rgba(255,0,0,0.6)
          color: white
          margin: 3px
            top: 10px 
          padding: 10px 20px
          font-size: 0.8rem
          display: inline-block

        .profile-avatar
          width: 25vw

.select-button
  max-width: 12vw
  margin: 3px

  select 
    /** font-size: 1.5em **/
    margin: 5px 0 0 0

.selector 
  display: flex
  justify-content: space-between
  align-items: center
  margin: 5px 0
  background: rgba(0,0,0,0.03)
  padding: 5px 0
  background: linear-gradient(90deg, rgba(0,0,0,0.2), transparent 70%, rgba(255,255,255, 0.03))
  border: 1px solid rgba(255,255,255,0.1)
  border-radius: 5px

  button
    padding: 4px
    border-radius: 12px
    margin: 0 10px

.user-info-card
  display: flex
  align-items: center
  justify-content: center

  img
    width: 20vw
    margin-right: 5vw

  h3
    text-align: left