<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Game interfaces and apis</title>
        <style>
</style>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
<style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 14px;
                line-height: 1.6;
            }
        </style>
        <style>
.task-list-item { list-style-type: none; } .task-list-item-checkbox { margin-left: -20px; vertical-align: middle; }
</style>
        
        
        
    </head>
    <body class="vscode-body vscode-light">
        <h1 id="game-interfaces-and-apis">Game interfaces and apis</h1>
<h2 id="game-class-apis">Game class apis</h2>
<h3 id="properties">Properties</h3>
<ul>
<li><strong>handler: (gameHandler)=&gt;{}</strong> When the component has finished its mounting sends a handler through this prop that could be used in order to control the game flow.</li>
<li><strong>highlight: [Number]</strong> This array tells the game if you want to inlude the highligted class in any square.</li>
<li><strong>onGameEnded: () =&gt; {}</strong> The game will notify when a game ended.</li>
<li><strong>onGameStarted: () =&gt; {}</strong> The game will notify when a game started.</li>
<li><strong>onWinner: (winner) =&gt; {}</strong> The game will notify when a player wins.</li>
<li><strong>playerA: { icon: &quot;X&quot;, setHandler: (playerHandler, hash) =&gt; {} }</strong> Is the player no 1, it must provide an icon and a setHandler method which will be used to send a handler to the player. This handler must be used in order to be able to control each player's moves. The <em>hash</em> sent through this method is very important because it'll be used in each call to the handler as a <em>password</em>.</li>
<li><strong>playerB: { icon: &quot;O&quot;, setHandler: (playerHandler, hash) =&gt; {} }</strong> The same as playerA.</li>
</ul>
<h4 id="game-handler">Game Handler</h4>
<p>It's sent through the handler callback to the game's parent and has the following structure:</p>
<pre><code class="language-code"><code><div>gameHandler {
  **reset()** this method resets the game to its initial state that is: an empty board and not playing.
  **start(turn)** this method starts a new game with initial turn set to *turn*. If no parameter is provided, it'll set the first turn to player A.
}
</div></code></code></pre>
<h4 id="player-handler">Player handler</h4>
<pre><code class="language-code"><code><div>playerHandler {
  **getFreeSquares()** returns an array containing the free squares in the board, it can be used to calculate a move or whathever.
  **play(square,hash)** you must pass the hash received through the *setHandler* callback in order to prove the caller method is allowed to move. The square must be a number between 0 and 8, but never a square that is already marked by a player or else the game will ignore the order.
}
</div></code></code></pre>

    </body>
    </html>