@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Orelega+One&display=swap");
@media (min-width: 0) {
  body {
    background: #eaeaea;
  }

  aside {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  aside .hide {
    display: none;
  }
}
@media (min-width: 576px) {
  body {
    background: #dfdfdf;
  }
}
@media (min-width: 768px) {
  body {
    background: #e5e5e5;
  }

  aside .hider {
    display: none;
  }
  aside .hide {
    display: block;
  }
}
@media (min-width: 992px) {
  body {
    background: #eaeaea;
  }
}
@media (min-width: 1200px) {
  body {
    background: #f2f2f2;
  }
}
aside .hider {
  cursor: pointer;
}
aside .hider button {
  border-radius: 4px;
}

body {
  margin: 0;
  overflow: hidden;
}
body * {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.button-selector {
  display: inline-block;
}
.button-selector .button-selector-option {
  text-align: center;
  cursor: pointer;
  padding: 3px;
  display: block;
  width: 100%;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-background .modal .modal-body {
  overflow: auto;
  min-width: 300px;
  max-width: 95vw;
  min-height: 150px;
  max-height: 90vh;
}

.status-bar {
  position: fixed;
  bottom: 0;
  top: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Board .board-row {
  display: flex;
}
#Board .board-row .board-square {
  font-size: min(7vw, 7vh);
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  margin: 0 2vw 2vw 0;
}

#GameMenu .menu-button {
  display: block;
}

body.dark {
  color: #ccc;
  background: #333;
}
body.dark aside .hider button {
  background: #999;
  color: #222;
}
body.dark .button-selector-option:focus, body.dark .button-selector-option:hover {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-style: dotted;
}
body.dark .icon {
  color: #b9b9b9;
}
body.dark .modal-background {
  background: rgba(0, 0, 0, 0.85);
}
body.dark .modal-background .modal .modal-header {
  text-shadow: 1px 1px 4px rgba(50, 50, 50, 0.8);
  border: 1px solid #555;
  background: #999;
  color: #222;
}
body.dark .modal-background .modal .modal-body {
  background: #333;
  color: #ccc;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}
body.dark #Board .board-row .board-square {
  background: #999;
  color: #222;
}
body.dark #Board .board-row .board-square.highlighted {
  background: #dd7575;
}
body.dark #Board .board-row .board-square.winner {
  background: #fffeb9;
}

#GameMenu .menu-button {
  background: #999;
  color: #222;
  border-radius: 0.5em;
}
#GameMenu .menu-button.main {
  border: 2px solid white;
  background: #c9f310;
  color: #3c190c;
}

.selector button {
  background: #333;
  color: #ccc;
}

body.light {
  color: #333;
  background: #ccc;
}
body.light aside .hider button {
  background: #222;
  color: #999;
}
body.light .button-selector-option:focus, body.light .button-selector-option:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-style: dotted;
}
body.light .icon {
  color: #333;
}
body.light .modal-background {
  background: rgba(0, 0, 0, 0.3);
}
body.light .modal-background .modal .modal-header {
  text-shadow: 1px 1px 4px rgba(50, 50, 50, 0.8);
  border: 1px solid #555;
  background: #222;
  color: #999;
}
body.light .modal-background .modal .modal-body {
  background: #ccc;
  color: #333;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}
body.light #Board .board-row .board-square {
  background: #222;
  color: #999;
}
body.light #Board .board-row .board-square.highlighted {
  background: #bde726;
}
body.light #Board .board-row .board-square.winner {
  background: #009e22;
}
body.light #GameMenu .menu-button {
  background: #222;
  color: #999;
  border-radius: 0.5em;
}
body.light #GameMenu .menu-button.main {
  border: 2px solid #1a7165;
  background: #221d79;
  color: #ccc;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 3rem;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
}
button.main {
  background: #ffd400;
  color: white;
  text-shadow: 0 0 8px black;
  font-weight: bold;
}
button.main:hover {
  text-shadow: 0 0 15px black;
}
button.main:disabled {
  background: #3e3718;
  color: #999;
  text-shadow: none;
}
button.button-round {
  border-radius: 40% !important;
}

input {
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

#Board .board-row .board-square {
  font-family: "Krona One";
}

#gameMenu {
  margin: 20px;
  background: darkslateblue;
  color: white;
  box-shadow: 0 3px 3px black;
  overflow: auto;
  max-height: 95vh;
}
#gameMenu #PlayButton {
  width: 100%;
  height: 6rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
#gameMenu #PlayButton:hover {
  font-size: 3rem;
}
#gameMenu #PlayButton:disabled {
  font-size: 2.5rem;
}
#gameMenu h1 {
  padding: 10px;
  background: floralwhite;
  color: midnightblue;
  box-shadow: 0 3px 3px black;
  margin-top: 15px;
  text-align: center;
}

#LoginForm {
  display: flex;
  align-items: stretch;
}
#LoginForm button {
  height: 100%;
}
#LoginForm input {
  width: 100%;
}

.avatar {
  width: 100px;
  height: 100px;
}

.drag {
  cursor: move;
}

.flex-justify {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background: crimson;
  margin: 5px;
  padding: 10px;
  color: white;
  text-align: center;
}

.errors-reporter {
  margin: 20px;
  padding: 40px;
  background: darkred;
  color: white;
  font-size: 15px;
}
.errors-reporter h1 {
  margin-top: 0;
  font-size: 1.6rem;
}
.errors-reporter pre {
  overflow: auto;
}

.icon {
  cursor: pointer;
}

.menu .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu .modal-body h1, .menu .modal-body h2, .menu .modal-body h3, .menu .modal-body h4, .menu .modal-body h5 {
  margin: 0.3rem 0;
}
.menu .modal-body button {
  margin: 0.2rem;
  width: 60%;
}
.menu .modal-body .options {
  margin: 0.4rem;
}
.menu button {
  padding: 10px;
  margin: 10px;
  background: black;
  font-weight: bold;
  color: darkgoldenrod;
}
.menu button:hover, .menu button:active, .menu button:focus {
  background: #111;
  color: #eccb79;
}

.modal-background {
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.modal-background .modal .modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3px;
  text-align: center;
  text-shadow: 1px 1px 2px #fafafa;
  border: 1px solid #555;
  background: #999;
}
.modal-background .modal .modal-header + .modal-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
}
.modal-background .modal .modal-body {
  background: #ccc;
  padding: 3px;
  border: 1px solid #555;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playingInterface {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.playingInterface .current-players {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.playingInterface .current-players .user-info-card img {
  margin: 10px;
}
.playingInterface .current-players .user-info-card:last-of-type {
  flex-direction: row-reverse;
}
.playingInterface .current-players .user-info-card.playing {
  color: #e4ff00;
  text-shadow: 0 0 15px #dccc56;
}
.playingInterface .current-players .user-info-card.playing img {
  box-shadow: 0 0 35px #dccc56;
  border-radius: 50%;
}
.playingInterface .options-bar {
  width: 100%;
  position: fixed;
  top: 0;
}
.playingInterface .options-bar button {
  padding: 5px;
  background: white;
  margin: 5px;
}
.playingInterface #Board {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profiler .profiler-body {
  padding: 5px;
  background: linear-gradient(20deg, rgba(0, 0, 0, 0.8), transparent 70%, rgba(255, 255, 255, 0.1));
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.profiler .profiler-body button {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin: 10px 5px 5px 5px;
}
.profiler .profiler-body button:hover, .profiler .profiler-body button:focus {
  background: rgba(255, 255, 255, 0.3);
}
.profiler .profiler-body button:disabled {
  background: rgba(0, 0, 0, 0.1);
  color: #555;
}
.profiler .profiler-body .computer-profiler {
  text-align: center;
}
.profiler .profiler-body .computer-profiler .selector div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profiler .profiler-body .computer-profiler img {
  width: 20vw;
}
.profiler .profiler-body .computer-profiler h3, .profiler .profiler-body .computer-profiler p {
  margin: 0;
}
.profiler .profiler-body .human-profiler {
  border-radius: 5px;
  text-align: center;
}
.profiler .profiler-body .human-profiler .stage-0, .profiler .profiler-body .human-profiler .stage-3 {
  padding: 20px;
}
.profiler .profiler-body .human-profiler .selector {
  border: none;
  background: transparent;
}
.profiler .profiler-body .human-profiler h3 {
  margin: 0 0 10px 0;
}
.profiler .profiler-body .human-profiler .stage-body + button {
  margin-top: 10px;
}
.profiler .profiler-body .human-profiler .stage-body .warning {
  background: rgba(255, 0, 0, 0.6);
  color: white;
  margin: 3px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 0.8rem;
  display: inline-block;
}
.profiler .profiler-body .human-profiler .stage-body .profile-avatar {
  width: 25vw;
}

.results {
  text-align: center;
}
.results .modal-body {
  padding: 1rem !important;
}
.results h1 {
  margin: 0 0 1rem 0;
  color: #ffdf00;
}
.results h5 {
  margin: 0 0 1rem 0;
  color: #adf7ad;
}
.results .options button {
  width: auto;
}
.results .streak {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  padding: 0 5vw;
}
.results .streak .player-streak {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  font-weight: bold;
}
.results .streak .player-streak img {
  width: 30vw;
}
.results .streak .player-streak .player-streak-number {
  color: #ffdf00;
}

.select-button {
  max-width: 12vw;
  margin: 3px;
}
.select-button select {
  /** font-size: 1.5em **/
  margin: 5px 0 0 0;
}

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.03);
  padding: 5px 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), transparent 70%, rgba(255, 255, 255, 0.03));
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.selector button.selector-button {
  padding: 4px;
  border-radius: 12px;
  margin: 0 10px;
}

.user-info-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info-card img {
  width: 20vw;
  margin-right: 5vw;
}
.user-info-card h3.user-info-card-name, .user-info-card h5.user-info-card-kind {
  text-align: left;
  margin: 0 !important;
}

@media (orientation: landscape) {
  button {
    font-size: 1.5rem;
  }
  button.button-round {
    border-radius: 40% !important;
  }

  #gameMenu #profilers {
    display: flex;
    justify-content: center;
  }

  .playingInterface {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .playingInterface .current-players {
    width: 30vw;
    display: block;
    justify-content: space-between;
    height: 100vh;
    background: #fff1;
  }
  .playingInterface .current-players .user-info-card img {
    margin: 10px;
    width: 12vw;
  }
  .playingInterface .current-players .user-info-card:last-of-type {
    flex-direction: row;
  }
  .playingInterface .options-bar {
    position: relative;
    text-align: center;
  }
  .playingInterface .options-bar button {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    font-size: 2em;
    margin-bottom: 2em;
  }

  .profiler {
    margin: 15px;
  }
  .profiler .profiler-body {
    padding: 25px;
  }

  .results h5 {
    font-size: 1.5em;
  }
  .results .streak .player-streak img {
    width: 15vw;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*# sourceMappingURL=index.css.map */
