<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Modal</title>
        <style>
</style>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/markdown.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Microsoft/vscode/extensions/markdown-language-features/media/highlight.css">
<style>
            body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 14px;
                line-height: 1.6;
            }
        </style>
        <style>
.task-list-item { list-style-type: none; } .task-list-item-checkbox { margin-left: -20px; vertical-align: middle; }
</style>
        
        
        
    </head>
    <body class="vscode-body vscode-light">
        <h1 id="modal">Modal</h1>
<p>The modal is a dialog box that can be used to show any element. When it's closed it fires an event <strong>hasClosed()</strong> giving its parent the opportunity to update the show property to <em>false</em>. It's very important thua the modal will show again only when show property change from false to true again.</p>
<h2 id="usage">Usage</h2>
<pre><code class="language-jsx"><div>  &lt;button onClick={<span class="hljs-function">()=&gt;</span>{
    <span class="hljs-built_in">this</span>.setState({
      <span class="hljs-attr">showModal</span>: <span class="hljs-literal">true</span>
    })
  }}&gt;Abrir cuadro de suscripción&lt;/button&gt;
  
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">Modal</span> <span class="hljs-attr">onClose</span>=<span class="hljs-string">{()</span>=&gt;</span>{setState({showModal:false})}}
    show={this.state.showModal}
    title=&quot;Suscríbete&quot;&gt;
      Te enviaremos contenido genial...
      <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">onClick</span>=<span class="hljs-string">{this.susvribe}</span>&gt;</span>Suscribe<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">Modal</span>&gt;</span></span>
</div></code></pre>
<h2 id="avoid-user-closing">Avoid user closing</h2>
<p>You can set the canClose property to false in order to prevent the user from cklosing the modal.</p>
<h2 id="available-properties">Available properties</h2>
<ul>
<li><strong>id</strong> set the modal id</li>
<li><strong>className</strong> sets an aditional class name to the modal</li>
<li><strong>textAlign</strong> set the text alignment</li>
</ul>

    </body>
    </html>